.menu-burger {
    width: 48px;
    height: 48px;
    background-image: url(../img/menu.svg);
    display: inline-block;
}
.container-button:checked ~ .container-label > .menu-burger {
    background: url(../img/menu-aberto.svg) no-repeat center center;
}
.container-button:checked ~.container-label {
    background: var(--blue-gradient);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    position: relative;
    margin-top: -1px;
}

.container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.list-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container-button:checked ~ .list-menu {
    display: block;
}

.list-menu .list-menu_title, .list-menu_item {
    background-color: var(--white);
    padding: 1rem;
}

.list-menu_title {
    font-weight: 700;
    color: var(--orange);
}
.list-menu_link {
    text-transform: uppercase;
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.container-button, .options-button, .container-text, .options, .logo-title {
    display: none;
}

.image-favorites {
    display: block;
}


@media screen and (min-width: 1024px) {
    .header {
        padding: 0 80px;
    }
    .logo-title {
        display: block;
        font-family: var(--secondary-font);
        font-weight: 400;
        margin-right: 3rem;
    }
    .logo-title-bold {
        font-weight: 700;
    }

    .options {
        display: flex;
        gap: 2.5rem;
    }
    .options-link {
        text-decoration: none;
        font-weight: 400;
        color: var(--black);
        text-transform: uppercase;
    }

    .menu-burger, .image-favorites {
        display: none;
    }

    .options-button:checked ~ .list-menu {
        display: block;
        width: auto;
    }
}

@media screen and (min-width: 1728px) {
    .container-text {
        display: block;
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--black);
    }
    .container-link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .options {
        margin-right: auto;
    }
}